<div class="category-container">

    <div class="category-card" routerLink="/category/champagne">
        <img src="https://cdn.sanity.io/images/1p5qvg3x/ww/3a58d3cfb6e3b679c6cea37d229ba2b24af7f669-886x1341.jpg?rect=0,62,886,1219&w=960&h=1321&q=75&fit=crop&auto=format" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>

    <div class="category-card">
        <img src="../../../../assets/dev-images/vodka-bottle.png" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/vodka-bottle.png" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/vodka-bottle.png" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/vodka-bottle.png" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
</div>