<div class="category-container">

    <div class="category-card" routerLink="/category/champagne">
        <img src="../../../../assets/dev-images/3-champagne.jpeg" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>

    <div class="category-card">
        <img src="../../../../assets/dev-images/gold-bottle.jpeg" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/giraffe.png" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/gorilla.jpeg" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
    <div class="category-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <div class="category-card_title">CATEGORY 1</div>
    </div>
</div>