.big-category-container {
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(51, 34, 1, 0.601);
    background-image: url("../../../../assets/dev-images/animals.png");
    background-blend-mode: overlay;
}


.text-container {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 100px;
}

.big-category-container h1 {
    font-size: 30px;
    margin-bottom: 5px;
}

.big-category-container p {
    text-decoration: underline;
    font-size: 12px;
}