.big-category-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.parallax {
    height: 100vh;
    background-image: url("../../../../assets/dev-images/dan-cristian-padure-KMnqIVVdA9c-unsplash.jpg");
    background-size: cover; /* or background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(45, 43, 36, 0.564);
    background-blend-mode: overlay;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}


.text-container {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    padding: 100px;
}

.big-category-container h1 {
    font-size: 30px;
    margin-bottom: 5px;

}

.big-category-container p {
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
}
