<header>
    <div class="parallax" [style.backgroundPositionY.px]="parallaxOffset">
        <h1>ARTWORK NAME</h1>
    </div>
</header>

<div class="product-container">

    <div class="product-about">
        <h2>ART TITLE</h2>
        <p>
            about this artwork 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse commodi quaerat sit itaque quas fuga laudantium aliquam, recusandae nihil nulla odio ad non impedit exercitationem corporis sapiente iusto quibusdam voluptate.
        </p>
    </div>

    <div class="product-images">
        <img class="big-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">

        <div class="img-container">
            <img class="small-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">
            <img class="small-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">
            <img class="small-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">
            <img class="small-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">
            <img class="small-img" src="../../../../assets/dev-images/vodka-bottle.png" alt="">
        </div>
    </div>

    <div class="order-section">
        <!-- price and order button / add to cart -->
        <div class="price">
            <p>PRICE: $100</p>
        </div>  
        <button class="order-btn">ADD TO CART</button>
    </div>
</div>

<app-categories-section></app-categories-section>
<app-contact-section></app-contact-section>
<app-footer></app-footer>