<div class="filler-container">
    <div class="filler-title_small">FILLER</div>
    <h2 class="filler-title">FROM BROKEN TO ART</h2>
    <p class="filler-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. At error quisquam sequi, reprehenderit distinctio quidem reiciendis? Molestiae id inventore recusandae, in sequi esse beatae, hic dicta aliquid, necessitatibus alias molestias?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero ducimus necessitatibus ea numquam consequuntur aliquid temporibus accusamus facere unde rem. Dolorem est accusamus facilis debitis accusantium iure aliquid facere. Quia.
    </p>
    <a class="filler-link" routerLink="/about">LEARN MORE</a>
    <img src="../../../../assets/dev-images/wine-field.jpg" alt="">
</div>