<header>
    <div class="parallax" [style.backgroundPositionY.px]="parallaxOffset"> 
        <h1>{{category}} collection</h1>
    </div>
</header>


<div class="products-container">
    <div class="product-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <h2>Product name</h2>
        <p>$100</p>
        <button>Add to cart</button>
    </div>
    <div class="product-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <h2>Product name</h2>
        <p>$100</p>
        <button>Add to cart</button>
    </div>    <div class="product-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <h2>Product name</h2>
        <p>$100</p>
        <button>Add to cart</button>
    </div>    <div class="product-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <h2>Product name</h2>
        <p>$100</p>
        <button>Add to cart</button>
    </div>    <div class="product-card">
        <img src="../../../../assets/dev-images/woman.jpeg" alt="">
        <h2>Product name</h2>
        <p>$100</p>
        <button>Add to cart</button>
    </div>
</div>

<app-categories-section></app-categories-section>

<app-contact-section></app-contact-section>

<app-footer></app-footer>