header {
    height: 100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242A1F;
    color: #A38A50;
}

