<div class="about-section-container">
    <div class="first-container">
        <div class="about-title_small">SINCE 2022</div>
        <img class="about-title_img" src="../../../../assets/dev-images/about-artist-3.png" alt="">
        <div class="about-title">LA BOUTEILLE</div>
        <div class="about-text">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem tenetur optio consequuntur enim possimus sunt quae soluta animi qui. Facere quisquam rem quidem repudiandae sed modi ea. Provident, temporibus corrupti.
        </div>  
        <a class="title-link" routerLink="/about">EXPLORE</a>
    </div>

    <div class="second-container">
        <div class="artist-img">
            <img src="../../../../assets/dev-images/about-artist-2.png" alt="">
        </div>
        <div class="artist-about">
            <div class="artist-title">THE ARTIST</div>
            <div class="artist-text">Hoi ik ben Djarno. Ik maak kunst.</div>
        </div>
    </div>

    <div class="instagram-container">
        <div class="instagram-title_small">INSTAGRAM</div>
        <div class="instagram-title">@ART_LABOUTEILLE</div>
        <div class="posts-container">
            instagram posts
        </div>
    </div>
    
</div>