.about-section-container {
    padding: 75px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about-title_small {
    font-size: 15px;
    margin-bottom: 10px;
}

.about-title_img {
    /* border: 1px solid black; */
    height: 80vw;
    width: 80vw;
    margin-bottom: 25px;
    object-fit: cover;
}

.about-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.title-link {
    color: black;
    margin: 50px 0;
}

.second-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.artist-img {
    width: 50%;
}

.artist-about {
    width: 50%;
    padding: 40px 15px;
    text-align: center;
}

.artist-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.artist-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.instagram-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instagram-title_small {
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.instagram-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.posts-container {
    display: flex;  
    flex-direction: column;
    overflow-x: scroll;
    
}

/* break for desktop */
@media (min-width: 1024px) {
    .about-text {
        max-width: 50vw;
    }

    .about-section-container {
        padding: 75px 60px;
    }

    .about-title_img {
        width: 20vw;
        height: 20vw;
    }

    .artist-img {
        width: 40%;
    }

    .artist-about {
        width: 40%;
        max-width: 500px;
    }

    .artist-img img {
        width: 100%;
        height: 100%;
    }

    .instagram-container {
        margin-top: 75px;
    }

    .posts-container {
        flex-direction: row;
    }
}