<div class="footer-section">
    <section>
        <div class="footer-block">
            <div class="list-title">Navigation</div>
            <ul>
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/art-gallery">Art gallery</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact form</a></li>
            </ul>
        </div>
    
        <div class="footer-block">
            <div class="list-title">Socialmedia</div>
            <ul>
                <li><a href="https://www.instagram.com/art_labouteille?igshid=YmMyMTA2M2Y%3D" target="_blank">Instagram</a></li>
                <li><a href="https://www.tiktok.com/@art_labouteille?_t=8YIysEslfNd&_r=1" target="_blank">TikTok</a></li>
                <li><a href="https://www.youtube.com/@Art_Labouteille" target="_blank">YouTube</a></li>
            </ul>
        </div>
    
        <div class="footer-block">
            <div class="list-title">Company information</div>
            <ul>
                <li><a>kvk: 85411736</a></li>
            </ul>
        </div>
    </section>

    <section>
        <div class="newsletter-block">
            <div class="newsletter-title">Subscribe to our newsletter</div>
            <div class="newsletter-form">
                <input type="email" placeholder="Email">
                <button>Subscribe</button>
            </div>
        </div>
    </section>

    <div class="footer-devidor"></div>

    <section>
        <div class="footer-bottom">
            <div class="footer-bottom-left">
                <p>&copy; 2024 All rights reserved</p>
            </div>
            <div class="footer-bottom-right">
                <p>Privacy Policy</p>
                <p>Terms of Service</p>
            </div>
        </div>
    </section>
</div>